

#menubar {
    height: 50px;
    background-color: #dc3545;
}

#menulist {
    list-style: none;
    padding-top: 14px;
}
#menulist li{
    padding-left: 0px;
    margin-left: 0px;
    display: inline;
    
}

#menutitle{
    padding-top: 10px;
    padding-left: 10px;
}

#menulist li a {
    font-size: 20px;
    font-family: sans-serif;
    padding: 14px 16px;
    color: #fff;
    text-decoration: none;
  }

#menulist li a:hover {
    display: inline;
    background-color: #fff;
    color: #dc3545;
    padding: 14px 16px;
  }


#menulist li a:active {
    display: inline;
    background-color: #fff;
    color: #dc3545;
    padding: 14px 16px;
  }

#menuimage{
    width: auto;
    height: 50px;
    display: inline;
    float: right;
    padding-right: 10px;
    
}

#title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    background-color: #dc3545;
}

#menuuserinfo{
    display: inline;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    font-style: italic;
}

#maincontent {
    height: auto;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 20px;
}

#feedbackMain {
    list-style: none;
}

#feedbackMain ul {
    list-style: none;
    margin-left: 50px;
}

#feedbackMain li{
    border: black;
    border-radius: 4px;
    border-style: solid;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.feedbackTitle{
    font-weight: bold;
    padding-left: 15px;
    font-size: 20px;
}

.feedbackMainText {
    font-size: 18px;
    padding-left: 10px;
}

.feedbackInfo {
    padding-left: 10px;
    
}

.feedbackStatus {
    padding-left: 50px;
    font-style: italic;
}

.feedbackArchive {
    display: inline;
    float: right;
    margin-right: 10px;
    font-size: 20px;
}
.feedbackReply {
    display: inline;
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

.feedbackEdit {
    display: inline;
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

.feedbackDelete {
    display: inline;
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

.feedbackStaffReply {
    display: inline;
    float: right;
    font-style: italic;
    padding-right: 10px;
}
